.column {
    float: left;
    width: 25%;
    padding: 0 10px;
}
#hot{
    transform-origin: center center 0px;
  transition: all 5s ease-in;
  animation-name: animate;
  animation-duration: 30ms;
  animation-iteration-count: infinite;
  transform: perspective(10000px) rotateY(1deg);
  z-index: 1;
}
#hot:hover{
    animation: unset;
    margin-top: 18vh;
    transform: perspective(1000px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    
}